html {
  background-color: #131516;
}

#main {
  display: flex;
  justify-content: center;
  gap: 75px;
}

.block_container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  width: 500px;
  height: 500px;
}

/* .block { */
/*   text-align: center; */
/* } */

.lightgrey {
  background-color: lightgrey;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}
